* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #f9f9f9;
  color: black;
  /* min-height: 2000px; */
  background-image: url("../Home/img/5570027.jpg");
}

/* Navbar Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 5%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #010101;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #010101;
  color: #007398;
}

.navbar .navbar-nav {
  padding-left: 20%;
}
/* Navbar End */

/* Navbar-bar Start */
.navbar .navbar-nav a {
  color: #010101;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: #007398;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #007398;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* Navbar-bar End */

/* Navbar-extra Start*/
.navbar .navbar-extra a {
  color: #010101;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a span {
  padding-left: 1rem;
}

.navbar .navbar-extra a:hover {
  color: #007398;
}

.navbar .navbar-extra a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #007398;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-extra a:hover::after {
  transform: scaleX(0.5);
}

#hamburger-menu {
  display: none;
}
/* Navbar-extra End*/

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Hero Section Start */
.titleHero {
  margin: 25vh 50vh 10vh 50vh;
  text-align: center;
}
.titleHero h1 {
  color: white;
  font-weight: 400;
  font-size: 40px;
  background-color: #007398;
  border-radius: 18px;
  margin: 0px 25vh;
}
.titleHero p {
  padding-top: 20px;
  font-size: 20px;
  margin: 10px 100px;
  font-weight: 600;
  font-size: 25px;
}

.hero {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 20%;
}
.flex-box {
  width: 350px;
  height: 470px;
  border-radius: 15px;
  background-color: #fff;
}
.flex-box:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.logo {
  width: 70px;
  margin: 20px 130px;
}
.logo1 {
  width: 95px;
  margin: 35px 120px;
}
.logo2 {
  width: 80px;
  margin: 30px 130px;
}
.explain {
  font-size: 16px;
  margin: 0px 50px;
}
.explain ul {
  list-style: none;
  margin: 10px 0px;
  padding-left: 20px;
}
/* Hero Section End */

/* Footer Start */
.closeEnd .footer1 {
  padding: 30px;
  background-color: rgb(65, 176, 212);
  text-align: center;
  border-bottom: 1px solid #010101;
}

.closeEnd .footer1 p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0px 69vh;
}

.closeEnd .footer1 a {
  color: black;
  margin: 10px;
  padding-top: 50px;
}

.closeEnd .footer2 {
  background-color: rgb(65, 176, 212);
  text-align: center;
  padding: 20px;
}

/* Footer End */
